<section>
<h1>Agenda</h1>

<dl class="agenda">
  <dt>6:30 – 6:45pm</dt>
  <dd>Meet & greet</dd>
  <dt>6:45 – 7:30pm</dt>
  <dd>Have fun</dd>
  <dt>7:30 – 8:00pm</dt>
  <dd>Eat</dd>
  <dt>8:00 – 8:45pm</dt>
  <dd>More fun</dd>
  <dt>8:45 – 9:30pm</dt>
  <dd>You get the idea :)</dd>
</dl>
</section>
